#fullscreen {
	position: fixed;
	bottom: 20px;
	right: 20px;
    cursor: pointer;
    width: 49px;
    height: 49px;
    background-position: center;
    /* background-size: 100%; */
    background-repeat: no-repeat;
    background-image: url(img/fs.png);
}
#nick {
	width: 244px;
	height: 43px;
	display: inline-block;
	overflow: hidden;
	margin-top: 44px;
	background: rgb(76, 68, 124); 
	box-shadow: rgb(0, 0, 0) 0px 6px 50px;
	border: 2px solid rgba(0, 0, 0, 1);
	border-radius: 29px;
	font-family: 'Lucida Sans Unicode', 'Lucida Grande', sans-serif;
	font-size: 15px;
	word-wrap: break-word;
	color: #e0e0ff;
	padding: 0 12px;
}
#playBut {
    width: 87px;
    color: rgb(255, 255, 255);
    font-weight: bold;
    text-align: center;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    font-size: 20px;
    cursor: pointer;
    height: 47px;
    line-height: 47px;
    box-shadow: rgb(0 0 0 / 75%) 0px 3px 20px;
    border-radius: 34px;
    display: inline-block;
    margin-top: 30px;
    margin-bottom: 50px;
	opacity: 0.9;
	background: linear-gradient(#73E7AD, #56AF84);
}
#playBut:hover {opacity: 1;}

#wrapScore {
	/*display: none;*/
	position: fixed;
	right: 20px;
	top: 0;
	
}
#wrapScore h3 { color: #fff; text-align: center; margin-bottom: 8px;}
#plScore {
	color: red;
	-webkit-mask-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0,0,0,0.75)), to(rgba(0,0,0,0.25)));
}
.row1, .row2, .row3{display: inline-block; white-space: nowrap; overflow: hidden;}
.row1 {width: 45px;}
.row2 {width: 180px;}
.row3 {width: 50px; padding-left: 10px; text-align: right;}
.gr {color: green;}
